/* Style cho phần BANNER */
.banner {
    position: relative;
}

    .banner img {
        width: 100%;
        height: auto;
        display: block;
    }

.banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

    .banner-container h2,
    .banner-container p {
        text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    }

.btnBanner {
    background: #ff6b6b;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}




/* Style cho phần SEARCH*/
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 500px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: brown;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    .search-button:hover {
        background-color: #555;
    }

.searchProd {
    text-align: center;
}

    .searchProd h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: brown;
    }

/* Style của FEATURE PRODUCT*/
.featureProd {
    text-align: left;
}

.feature-container {
    /* justify-content: center; */
    display: flex;
    overflow-x: auto; /* cho phép cuộn ngang */
    scroll-snap-type: x mandatory;
}

.fproduct-item { /* hiển thị dạng slider*/
    width: 160px; /* điều chỉnh theo độ rộng màn hình */
    max-height: 400px;
    margin: 10px;
    gap: 5px; /* khoảng cách giữa 2 item */
    border: 1px groove #808080;
    border-radius: 10px;
    flex: 0 0 auto; /* để các sản phẩm không co giãn */
    scroll-snap-align: start; /* để các sản phẩm dừng lại ở đầu khi cuộn*/
}

    .fproduct-item img {
        padding: 5px;
        max-height: 160px;
        vertical-align: central;
        background-color: transparent;
    }

/* Style của LIST PRODUCT */
.listProduct {
    text-align: left;
}

.list-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}

.lproduct-item {
    max-height: 500px;
    border: 1px groove #808080;
    border-radius: 10px;
}

    .lproduct-item img {
        padding: 5px;
        max-height: 120px; /* điều chỉnh theo độ rộng màn hình */
        background-color: transparent;
    }

/* các thuộc tính chung của FEATURE và NEW sản phẩm*/
.featureProd h2, .listProduct h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: brown;
    text-align: center;
}

.prodPrice {
    font-size: large;
    color: blue;
    font-weight: bolder;
    padding: 10px 5px 5px 5px;
}

.prodName {
    color: black;
    font-weight: bold;
    padding: 0px 5px 5px 5px;
}

.prodCate {
    color: black;
    padding: 0px 5px 5px 5px;
}

.prodSale {
    font-size: small;
    color: dimgrey;
    padding: 0px 5px 5px 5px;
}
