@model _24dh112968_MyStore_lap1.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="bg-success text-dark p-3 rounded">THÊM DANH MỤC</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

            @* Partial View chứa các trường nhập liệu *@
            @Html.Partial("PVCreateEditCategory", Model)

            
        </div>
    }
</div>

